/*.root {
    -fx-background-color: linear-gradient(to bottom right, #fff0f5, #ffd1dc);
    -fx-font-family: "Segoe UI Semibold", sans-serif;
}*/
.root {
    /* Cesta je relativní k umístění CSS souboru */
    -fx-background-image: url("images/obrazek.jpg");
    -fx-background-size: cover; /* Roztáhne obrázek na celé okno */
    -fx-background-position: center;
}
.header-pane {
    -fx-background-color: white;
    -fx-border-color: #87CEFA;
    -fx-border-width: 0 0 2 0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 5);
}

.detail-pane {
    -fx-background-color: rgba(255, 255, 255, 0.7);
    -fx-background-radius: 20;
    -fx-border-color: #87CEFA;
    -fx-border-width: 1.5;
    -fx-border-radius: 20;
    -fx-padding: 20;
}

.button {
    -fx-background-color: #87CEFA;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-background-radius: 25;
    -fx-cursor: hand;
    -fx-padding: 8 20;
    -fx-border-color: #5fb6f5;
    -fx-border-width: 1;
    -fx-border-radius: 25;
}

.button:hover {
    -fx-background-color: #b0e2ff;
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}

.btn-add, .btn-edit, .btn-delete {
    -fx-background-color: #87CEFA;
}

.list-view {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-color: #87CEFA;
    -fx-border-width: 1.5;
    -fx-border-radius: 15;
    -fx-padding: 5;
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
    -fx-padding: 10;
    -fx-background-radius: 10;
}

.list-cell:filled:hover {
    -fx-background-color: #f0f8ff;
}

.list-cell:filled:selected {
    -fx-background-color: #87CEFA;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-border-color: #87CEFA;
    -fx-border-width: 1.5;
    -fx-border-radius: 15;
    -fx-padding: 8 12;
    -fx-text-fill: #000000;
}

.text-field:focused {
    -fx-border-color: #5fb6f5;
    -fx-border-width: 2;
}


.label {
    -fx-text-fill: #000000;
    -fx-font-size: 14px;
}